
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEAIT AMS</title>

  <%- include('../sub/head.ejs') %>
<!-- header -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center ">Class of 2015</h2>
            <h3 class="text-center ">Bachelor of Science in Information Technology</h3>
            <form action="enhanced-results.html">
             
            </form>

            <div class=" row ">
          
                <div class="col-6">
                    <div class="card flex-fill " style="">
                      <img class="mx-auto pt-1" style="width:180px;height:250px;" src="../../img/cover-sample.jpg"   alt="seait">
                    </div>
                </div>
          
                <div class="col-6">
                    <div class="card flex-fill " style="">
                      <img class="mx-auto pt-1" style="width:180px;height:250px;" src="../../img/cover-sample.jpg"   alt="seait">
                    </div>
                </div>

                 
              
            </div>
        </div>
    </section>
  </div>
<!-- footer -->
<%- include('../sub/foot.ejs') %>
<!-- codde -->

</body>
</html>